<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/add-course']">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Our Catalog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <h5 class="ion-margin-horizontal">We propose these new courses:</h5>
      <ion-list>
        <ion-item *ngFor="let course of courses" [routerLink]="['/course-details', course.id]">
          <ion-avatar slot="start">
            <ion-img [src]="course.image"></ion-img>
          </ion-avatar>
          <ion-label>{{course.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
